body
{
	margin: 0px;
}
#lg-wrapper
{
	left: 50%;
	margin-left: -400px;
	margin-top: -280px;
	position: absolute;
	top: 50%;
	width: 800px;
}
#lg-header
{
	background-image: url('../image/header.png');
	background-repeat: no-repeat;
	height: 47px;
	left: 40%;
	margin-left: -400px;
	margin-right: auto;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 1000px;
	z-index: 10;
}
#lg-main-container
{
	height: 560px;
	width: 100%;
}
#lg-left
{
	float: left;
	width: 361px;
}
#frame-top
{
	left: 40%;
	margin-left: -400px;
	margin-right: auto;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 1000px;
}

#frame-bottom
{
	bottom: 0px;
	left: 40%;
	margin-left: -400px;
	margin-right: auto;
	overflow: hidden;
	position: absolute;
	text-align: center;
	width: 1000px;
}

#lg-center
{
	float: left;
	width: 51px;
}
#lg-right
{
	float: right;
	width: 388px;
}
#lg-form
{
	font-family: arial;
	font-size: 12px;
	margin-top: 5px;
	padding-right: 70px;
	text-align: right;
}
.lg-txtInput
{
	background-color: #f4f4f4;
	background-color: #F4F4F4;
	border: 1px solid #DDDDDD;
	border-radius: 5px 5px 5px 5px;
	height: 22px;
	margin-bottom: 10px;
	width: 222px;
}
#lg-footer
{
	background-image: url('../image/footer.png');
	background-repeat: no-repeat;
	bottom: 0px;
	height: 47px;
	left: 40%;
	margin-left: -400px;
	margin-right: auto;
	overflow: hidden;
	position: absolute;
	text-align: center;
	width: 1000px;
}
.lg-txtInput:focus
{
	border-color: #b7b7b7;
}
.lg-txtInput:hover
{
	border-color: #b7b7b7;
}
.submit.cancel
{
	background-image: url('../image/cancel-btn.png');
}

.submit , .changePass
{
	background-repeat: no-repeat;
	background-color:#D5D5D5;
	text-align: center;
	border: 0px;
	border-radius:5px;
	margin:2px;
	cursor: pointer;
	height: 22px;
	width: 137px;
	font-family: arial;
	font-size: 12px;
}

.submit:hover , .changePass:hover
{
	opacity: 0.8;
}
#lg-right img
{
	height: 254px;
	width: 388px;
}
#lg-right img.loading
{
	visibility: hidden;
	height: 16px;
	margin-top: -2px;
	width: 16px;
}
#oldpassword-cnt ,#newpassword-cnt,#confpassword-cnt,#changeBtn ,#username2-cnt,#pincode-cnt ,#pairKeyBtn,#cancelBtn,#cancel,#ChangePasswordSub{
		display:none;
}
#lg-messages
{
	padding-left:20px;
	padding-right:40px;
	font-family: arial;
font-size: 12px;
color:#EB2B4A;

}
			.content{float:left;margin-left:5px;*margin-left:6px;padding-top:5px;background:#fff;border:1px solid #BBB;border-top:1px solid #BBB;width:99.2%;}
		.secondcontent{float:left;background:#fff;border:1px solid #BBB;margin:5px;*padding-bottom:5px;width:98%;}
		.secondcontentheader{background:#E8E8E8;font-weight:bold;color:#2A3A47;height:20px;*height:25px;width:100%;padding-top:5px;}
		.tabletext{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#111;padding-left:4px;background-color:#FFF;}
		.tabletext-bkgd{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#111;padding-left:4px;background-color:#CDDEF5;}
			.tableheader{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#FFF;font-weight:bold;padding-left:4px;background:#3087BA;height:25px;}
		.box{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000;border:1px solid #EDF9F9;background-color:#DDD;width:100%;}
		.tabletextgreen{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#060;padding-left:4px;}


